nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5em 2em 0.5em 2em;
    background-color: var(--card-background);
    align-items: center;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    z-index: 100;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
  
nav li {
    display: inline-block;
    position: relative;
}
  
nav li a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
    font-size: 16px;
    transition: 0.8s ease;
}

nav li a:hover {
    text-decoration: underline;
}

.label {
    color: #fff;
    margin-left: 1em;
}
  
nav li:hover > ul {
    display: block;
    width: 10em;
    font-weight: bold;
}
  
nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
}
  
nav ul ul li {
    display: block;
}

.logo-img {
    height: 62px;
    width: 62px;
}