

body{
    background: var( --card-background);
    min-height: 100vh;
    vertical-align: middle;
    display: flex;
    font-family: sans-serif;
    font-size: 0.8rem;
    font-weight: bold;
}
.title{
    margin-bottom: 5vh;
}
.card{
    margin: auto;
    max-width: 950px;
    width: 90%;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
    border: transparent;
}
@media(max-width:767px){
    .card{
        margin: 3vh auto;
    }
}
.cart{
    background-color: #fff;
    padding: 4vh 5vh;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
}
@media(max-width:767px){
    .cart{
        padding: 4vh;
        border-bottom-left-radius: unset;
        border-top-right-radius: 1rem;
    }
}
.summary{
    background-color: #c9c4d4;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 4vh;
    color: rgb(65, 65, 65);
}
@media(max-width:767px){
    .summary{
    border-top-right-radius: unset;
    border-bottom-left-radius: 1rem;
    }
}
.summary .col-2{
    padding: 0;
}
.summary .col-10
{
    padding: 0;
}.row{
    margin: 0;
}
.title b{
    font-size: 1.5rem;
}
.main{
    margin: 0;
    padding: 2vh 0;
    width: 100%;
}
.col-2, .col{
    padding: 0 1vh;
}
a{
    padding: 0 1vh;
}
.remove-items{
    margin-left: auto;
    font-size: 0.7rem;
    cursor: pointer;
}
img{
    width: 3.5rem;
}
.back-to-shop{
    margin-top: 4.5rem;
}
h5{
    margin-top: 4vh;
}
hr{
    margin-top: 1.25rem;
}
form{
    padding: 2vh 0;
}
select{
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1.5vh 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247);
}

.btn{
    border: none;
    color: #fff;
    background-color: var(--primary-color);
    width: fit-content;
    box-shadow: 0px 4px 15px #b59edb;
    opacity: 0.8;
    transition: 0.6s ease;
}
.btn:focus{
    box-shadow: none;
    outline: none;
    box-shadow: none;
    color: white;
    -webkit-box-shadow: none;
    -webkit-user-select: none;
    transition: none; 
}
.btn:hover{
    color: white;
}
a{
    color: black; 
}
a:hover{
    color: black;
    text-decoration: none;
}
 #code{
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.253) , rgba(255, 255, 255, 0.185)), url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: center;
}

/*.loginPopup {
    position: relative;
    text-align: center;
    width: 100%;
}*/
.formPopup {
    display: none;
    position: fixed;
    left: 28.5%;
    top: 13.5%;
    text-align: center;
    border: 3px solid #999999;
    background-color: #e1daee;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
    border: transparent;
}
.formContainer {
    width: 43vw;
    padding: 0.5vw;
}
.formContainer input[type=text] {
    width: 58%;
    padding: 2vh;
    margin: 1vh 0 1vw 0;
    border: none;
    background: #eee;
    font-size: 1.1em;
}
.formContainer input[type=text]:focus{
    background-color: #c7c3c3;
}

.formContainer input[type=tel] {
    width: 58%;
    padding: 2vh;
    margin: 1vh 0 1vw 0;
    border: none;
    background: #eee;
    font-size: 1.1em;
    border-radius: 10px;
}
.formContainer input[type=tel]:focus{
    background-color: #c7c3c3;
}
.formContainer .bton {
    padding: 0.4vw 0.5vh;
    border: none;
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
    width: 20%;
    margin: 2vw;
    margin-bottom: 1vw;
    font-weight: bold;
    font-size: 1.1em;
}

#btnSec{
    max-height: max-content;
    width: 100%;
    float: left;    
    padding-bottom: 2vh;
    padding-top: 4vh;
}

.box {
    float: left;
    width: 50%;
}

label{
    width: 30%;
    display: inline-block;
    text-align: right;
    font-weight: bold;
    font-size: 1.2em;
    margin: 0.5vw;
}

.first-field{
    width: 50%;
}

.disable-content{
    pointer-events: none;
    /*opacity: 0.2; NK - animation in JS*/
}

h2{
    margin-bottom: 2vw;
    margin-top: 1vw;
    
}

.btn-radius{
    border-radius: 10px;
}

#checkoutBtn{
    width: 100%;
}

.require{
    color: red;
    font-size: medium;
}